@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    @apply font-Inter;
  }

  h1 {
    @apply text-3xl font-bold md:text-4xl lg:text-5xl xl:text-6xl;
  }
  h2 {
    @apply text-3xl font-bold xl:text-5xl;
  }
  h3 {
    @apply text-lg font-bold sm:text-xl md:text-lg lg:text-xl xl:text-2xl;
  }
  h4 {
    @apply text-xl font-bold md:text-2xl lg:text-2xl;
  }
  h5 {
    @apply text-lg font-bold md:text-xl;
  }
  h6 {
    @apply text-sm font-bold;
  }
  p {
    @apply text-base lg:text-xl;
  }

  a {
    @apply hover:underline hover:cursor-pointer;
  }

  button {
    @apply transition-all duration-200 ease-linear;
  }

  .link {
    @apply py-2 m-3 text-xl border-black hover:no-underline hover:border-b-2 active:border-b-2 lg:text-lg;
  }
  .link-active {
    @apply border-b-2 border-black;
  }

  .button-primary {
    @apply px-4 py-2 font-bold text-white rounded-lg text-nowrap w-max h-max bg-primary hover:bg-secondary hover:text-black;
  }
  .button-price {
    @apply w-full px-4 py-2 font-bold text-black bg-white border rounded-lg text-nowrap lg:text-xl lg:py-4 border-p-el hover:bg-primary hover:text-white hover:border-primary;
  }
  .button-secondary {
    @apply px-4 py-2 font-bold bg-white rounded-lg text-nowrap w-max h-max hover:bg-purple-200;
  }
  .button-social {
    @apply flex items-center justify-center p-2 text-white rounded-full active:opacity-80;
  }
}
